.nav-dark {
    background-color: #212121 !important;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: min-width 0.3s, max-width 0.3s;
    height: 100vh;
    overflow-y: auto;
}

#sidebar.active {
    min-width: 60px;
    max-width: 60px;
    text-align: center;
}

#sidebar.active .sidebar-icon {
    margin-left: 0px;
}

#sidebar.active .sidebar-text {
    display: none;
}

#sidebar.active div button {
    padding: 20px 10px;
    text-align: center;
    font-size: 20px;
}

#sidebar div button:hover {
    -webkit-filter: brightness(130%);
}

#sidebar div button {
    padding: 10px;
    text-align: left;
    font-size: 14px;
    display: block;
    color: #999;
}

#sidebar .sidebar-icon {
    width: 40px;
    display: inline-block;
    text-align: center;
    margin-left: -10px;
    font-size: 20px;
    color: #999;
}

#sidebar .sidebar-badge {
    font-size: .6em;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    height: 100vh;
    transition: width 0.3s;
    overflow: auto;
}
